@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next::before,
.slick-prev::before {
  display: none !important;
}

.slick-dots li.slick-active div {
  background-color: #fff !important;
}
.slick-dots li {
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
.slick-dots li div {
  width: 30px !important;
  height: 9px !important;
  background-color: #818eab;
  border-radius: 5px;
}

/* hover and if not active  */
.slick-dots li:not(.slick-active) div:hover {
  background-color: #7385aa;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../media/fonts/IntegralCF-Medium.woff2");
}
